:root {
  --main-color: #e8edf4;
}
body {
  background-color: var(--main-color);
  font-family: "Jost", sans-serif;
}
/* Start Nav */
.navbar {
  background-color: var(--main-color);
}
.navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #6749d0;
}

/* End Nav */
