:root {
  --main-color: #e8edf4;
  --secondary-color: #6749d0;
  --clr-theme-color: #7153d9;
  --clr-theme-color-2: #4526b1;
  --clr-theme-color-3: #5435be;
  --pargraph-color: #54545f;
}
body {
  font-family: "Jost", sans-serif;
}
.mainbackground {
  background-color: var(--main-color);
}
/* Start Nav */

.background-nav {
  background: var(--main-color) !important;
  /* transition: 1.5s ease-in; */
}

.background-nav.scrolled {
  background: #fff !important;
}

.navbar {
  background-color: var(--main-color);
}
.navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: var(--secondary-color);
}

/* End Nav */
/* Start section */
.main-subtitle {
  color: var(--secondary-color);
  font-size: 24px;
}
.main-title {
  font-size: 72px;
  font-weight: 500;
  color: #1c1c1c;
}
.main-pargraph {
  font-size: 24px;
  font-weight: 400;
  color: var(--pargraph-color);
}
.main-btn {
  background: linear-gradient(
    135deg,
    var(--clr-theme-color-2) 0%,
    var(--clr-theme-color-3) 45%,
    var(--clr-theme-color) 66%
  );
  padding: 16px 38px;
  border-radius: 27px;
  color: #fff;
}
/* End section */
/* Start sloution section */

.feature-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f2f5fb;
}
.P-icon {
  color: #1c1c1c;
  font-size: 17px;
  letter-spacing: 1px;
}
/* End sloution section */

/* Start Services */
.services {
  background-color: #fdfdfd;
}
.header-5 {
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 9px;
}
.header-2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.16;
  color: #1c1c1c;
}
.p-services {
  color: #8d8e99;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}
.p-service {
  font-size: 18px;
}
.mycard {
  box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1),
    11px 6px 25px rgba(69, 38, 177, 0.1);
  border-radius: 20px;
}
.mycard a {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  transition: 0.3s;
}

.mycard a:hover {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
}
/* End Services */
